<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>first app on line</h1>

        {% for i in profile %}
        <h1>{{ i.name }}</h1>   
        <h3>{{ i.age }}</h3>    
        <h5>{{ i.address }}</h5>    
        <img src="{{ i.image.url }}" alt="image">
        <hr>
        {% endfor %}
    
    </body>
</html>